@font-face{
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face{
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}