@font-face{
  font-family: 'RobotoMono';
  src: url('/public/fonts/RobotoMono-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'RobotoMono';
  src: url('/public/fonts/RobotoMono-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face{
  font-family: 'RobotoMono';
  src: url('/public/fonts/RobotoMono-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}