*{
  font-family: RobotoMono;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 36px;
  font-family: RobotoMono;
  font-weight: bold;
}

h2{
  font-size: 24px;
  font-family: RobotoMono;
  font-weight: bold;
}

p{
  font-size: 18px;
  line-height: 30px;
}

span{
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}