@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../../public/fonts/RobotoMono-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}
* {
  font-family: RobotoMono;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-family: RobotoMono;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-family: RobotoMono;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 30px;
}

span {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.btn-blue {
  padding: 0.2em 4em;
  border-radius: 0.5em;
  font-weight: bold;
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn-blue:hover {
  background: white;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.nav-links {
  display: flex;
}
.nav-link {
  margin: 0 1rem;
  display: inline-block;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  height: 3px;
  background: white;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.sticky {
  background: #121215;
  padding: 1rem;
}

.icons-container {
  display: block;
}
.icons-container a {
  display: block;
  margin: 2rem 0;
}

.bg-black {
  background-image: url("../../public/backgrounds/home.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-white {
  background-image: url("../../public/backgrounds/white.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mosaico-container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  rotate: 45deg;
}
.mosaico-item {
  width: 200px;
  height: 200px;
  margin: 0rem 1.5rem;
  background-image: url("../../public/backgrounds/mosaico.png");
  background-size: cover;
}

.briefcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.briefcase-container {
  width: 1015px;
  height: 396px;
  display: flex;
}
.briefcase-item {
  background: #A12F2F;
  border-radius: 10px;
}
.briefcase-item-v {
  width: 251px;
  height: 396px;
}
.briefcase-item-h {
  width: 487px;
  height: 191px;
}
.briefcase-item-c {
  width: 251px;
  height: 191px;
}

.form {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.form-input {
  background: #121215;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  outline: none;
}
.form-input::placeholder {
  color: white;
}
.form-input-icon {
  position: absolute;
  top: 25px;
  right: 10px;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
