.briefcase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-container{
    width: 1015px;
    height: 396px;
    display: flex;
  }

  &-btn{
    position: absolute;
    bottom: 5px;
    left: 40%;
    cursor: pointer;
  }

  &-item{

    background: #A12F2F;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
      position: absolute;
      top: 10px;
      left: 20px;
    }

    &-v{
      width: 251px;
      height: 396px;
    }

    &-h{
      width: 487px;
      height: 191px;
    }

    &-c{
      width: 251px;
      height: 191px;
    }
  }
}

#pack{
  background: #FFF500;
}

#jared{
  background: #004B22;
}

#shop{
  background: #301D4F;
}

#organize{
  background: white;
}