%btn{
  padding: .2em 4em;
  border-radius: .5em;
  font-weight: bold;
  display: block;
  transition: all .3s ease-in-out
}


.btn{
  &-blue{
    @extend %btn;
    &:hover{
      background: #ffff;
    }
  }
}