.card{
  &-container{
    display: flex;
    margin: 0 auto;
  }

  &-item{
    background: white;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 250px;
    margin: 20px;
  }

  &-info{
    text-align: center;
  }
}