.form{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  
  &-input{
    background: #121215;
    color: white;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin: 1rem 0;
    outline: none;

    &::placeholder{
      color: white;
    }
  
    &-icon{
      position: absolute;
      top: 25px;
      right: 10px;
    }

    &-container{
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
}