.nav{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  transition: all .3s ease-in-out;

  &-links{
    display: flex;
  }

  &-link{
    margin: 0 1rem;
    display: inline-block;

    &::after{
      content: '';
      display: block;
      width: 0;
      margin: auto;
      height: 3px;
      background: white;
      transition: width .3s;
    }

    &:hover::after{
      width: 100%;
      transition: width .3s;
    }
  }
}

.sticky{
  background: #121215;
  padding: 1rem;

}